/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Shizuru&display=swap');


* {
   padding: 0;
   margin: 0;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Acme', Courier, monospace;
    color: #3a3a3a;
}


/* Header Stuff */

header {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    text-transform: uppercase;
    /* Have dropdown menu appear in line with page title */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a:hover {
    border-bottom: 1px solid #262626;
} 

#title {
    padding-left: 1rem;
}

/* Added in nav-toggle css from the Love Running Project */

nav {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    justify-content: center;
    background-color: whitesmoke;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

/* Page Content Stuff */

 
a {
    text-align: center;
    text-decoration: none;
    color: #3a3a3a;
    background-color: whitesmoke;
}

#practices-page-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0 1rem;
    flex: 1 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

ul {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
  
nav {
    position: absolute;
    left: 0;
    padding: 0 1rem;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    /* Top property makes sure dropdown menu always appears below page title */
    top: 100%;
}

h1 {
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 1em;
}
 
.align-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.align-right {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
}

#menu {
    list-style-type: none;
    flex-direction: column;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu > li {
    margin-bottom: 1em;
}

/* Meetups Page Stuff */
#meetup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
}


 /* Active webpage class indicator idea taken from Love Running project */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Footer Stuff */

footer {
    margin: 0;
    border: 0;
    padding: 1em 0;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    box-shadow: 2px 0 2px #3a3a3a;
}

/* Containers for testing the layout of the Resources page */

/* Temporarily disabling to try a different grid approach...
.container {
    width: 100%;
    height: 150px;
    border: 1px solid #3a3a3a;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.book-image {
  width: 100px;
  height: 200px;
  background-color: black;
  z-index: 11;
  grid-column: 2/4;
  grid-row: 1/4;
}

.shape1 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #ae608e;
    border: 10px solid #82295d;
    z-index: 8;
  /* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
/*
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}
.shape2 {
    width: 100%px;
    height: 100%;
    border-radius: 1rem;
    background-color: #60aea0;
    border: 10px solid #298250;
    z-index: 9;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}
.shape3 {
    width: 100%p;
    height: 100%;
    border-radius: 1rem;
    background-color: #6560ae;
    border: 10px solid #382982;
    z-index: 11;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}
*/
#resources-list {
  position: relative;
  top: 5rem;
  list-style-type: none;
  display: grid;
  gap: 20rem;
  grid-template-areas: 
    "section1"
    "section2";
}
.container1 {
  width: 100%;
  height: 150px;
  border: 1px solid #3a3a3a;
  display: grid;
  gap: 1rem;
  align-content: center;
  grid-template-columns:
    [book-start] 100px [bg-start] auto [book-end] auto [text-start] auto [bg-end] auto [text-end];
  grid-template-rows: [book-start] auto [text-start] auto [bg-start] auto [text-end] auto [book-end] auto [bg-end];
  grid-area: section1;
}

.shape1 {
  width: 150px;
  height: 300px;
  border-radius: 1rem;
  background-color: #ae608e;
  border: 10px solid #82295d;
  z-index: 10;
  grid-area: book;
/* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
}
.shape2 {
  width: 100%px;
  height: 100%;
  border-radius: 1rem;
  background-color: #60aea0;
  border: 10px solid #298250;
  z-index: 9;
  grid-area: bg;
}
.shape3 {
  width: 100%p;
  height: 100%;
  border-radius: 1rem;
  background-color: #6560ae;
  border: 10px solid #382982;
  color: whitesmoke;
  z-index: 11;
  grid-area: text;
  overflow: scroll;
}

.container2 {
  width: 100%;
  height: 150px;
  border: 1px solid #3a3a3a;
  display: grid;
  gap: 1rem;
  align-content: center;
  grid-template-columns:
    [text2-start] 100px [bg2-start] auto [text2-end] auto [book2-start] auto [bg2-end] auto [book2-end];
  grid-template-rows: [book2-start] auto [text2-start] auto [bg2-start] auto [text2-end] auto [book2-end] auto [bg2-end];
  grid-area: section2;
}

.shape4 {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #ae608e;
  border: 10px solid #82295d;
  z-index: 10;
  grid-area: text2;
  overflow: scroll;
/* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
}
.shape5 {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #60aea0;
  border: 10px solid #298250;
  z-index: 9;
  grid-area: bg2;
}
.shape6 {
  width: 150px;
  height: 300px;
  border-radius: 1rem;
  background-color: #6560ae;
  border: 10px solid #382982;
  color: whitesmoke;
  z-index: 11;
  grid-area: book2;
}
/* Media Queries */
/* Nav Menu media query for tablets and larger */
@media screen and (min-width: 768px) {
    /* Header */

    #title {
        font-size: 200%;
        margin: 2rem 2rem;
    }

    nav {
        display: inline;
        position: relative;
        left: 0;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #title {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Body Styles for tablet and up media query */

    main {
        margin-top: 80px;
    }
}