/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Pacifico&family=Satisfy&family=Sintony:wght@400;700&display=swap');

/* Title will be Pacifico. Main text will be Caveat... */

* {
   padding: 0;
   margin: 0;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Caveat', Courier, monospace;
    color: #3a3a3a;
}


/* Header Stuff */

header {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    text-transform: uppercase;
    /* Have dropdown menu appear in line with page title */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #3a3a3a;
}

span {
    font-family: 'Pacifico', Courier, monospace;
}

header > a {
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: 'Pacifico', Courier, monospace;
    text-transform: none;
    color: #262626;
}

header a:hover {
    border-bottom: 1px solid #262626;
} 

#title {
    display: flex;
    align-items: center;
}

/* Added in nav-toggle css from the Love Running Project */

nav {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    justify-content: center;
    background-color: whitesmoke;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 1rem;
}

/* Page Content Stuff */

 
a {
    text-align: center;
    text-decoration: none;
    color: #3a3a3a;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}

#practices-page-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0;
    flex: 1 0 auto;
    margin-bottom: 5rem;
}

#index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index a {
    justify-content: center;
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
  
nav {
    position: absolute;
    left: 0;
    padding: 0 1rem;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    top: 100%;
}

h1 {
    justify-content: center;
    background-color: whitesmoke;
    margin-bottom: 1em;
}

#main1 span {
    text-align: center;
    font-size: 150%;
}

/* Landing section for home page */

#home-landing {
    width: 100%;
    display: flex;
}

#bg-img-home {
    margin-bottom: 2rem;
    background-image: url('../images/alseep_in_car.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 30rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

#landing-text-home {
    background-color: #262626;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid #262626;
    height: 8rem;
    width: 8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing-text-home > h2 {
    font-family: 'Satisfy', Courier, monospace;
}

/* Resources section for home page */

#resources-landing {
    width: 100%;
}

#resources-list h2 {
    text-align: center;
    background-color: whitesmoke;
}

#bg-img-resources {
    margin-bottom: 2rem;
    height: 30rem;
    width: 100%;
    background-image: url('../images/resources.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

#landing-text-resources {
    background-color: #298250;
    text-align: center;
    border: 1px solid #262626;
    height: 8rem;
    width: 8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/* Landing section for Meetups page */

#meetups-landing {
    width: 100%;
}

#bg-img-meetups {
    margin-bottom: 2rem;
    height: 30rem;
    width: 100%;
    background-image: url('../images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

#landing-text-meetups {
    background-color: #298250;
    text-align: center;
    border: 1px solid #262626;
    height: 8rem;
    width: 8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}


/* Landing section for Experience page */

#experience-landing {
    width: 100%;
}

#bg-img-experience {
    margin-bottom: 2rem;
    height: 30rem;
    width: 100%;
    background-image: url('../images/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

#landing-text-experience {
    background-color: #298250;
    text-align: center;
    border: 1px solid #262626;
    height: 8rem;
    width: 8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.main-container {
    display: grid;
    gap: 2rem;
    width: 80%;
    justify-content: center;
}

.main-container h2 {
    text-align: center;
}

.main-container p {
    text-align: center;
}

.experience-container {
    display: grid;
    gap: 2rem;
    width: 80%;
    justify-content: center;
}

.baggage1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 4rem 15% 15% 4rem;
    grid-template-rows: repeat(20, 150px);
    gap: 1rem;
    grid-template-areas: 
        '. . . .'
        '. backpack2 . .'
        '. . . et1'
        '. . suitcase1 .'
        'et2 . . .'
        '. suitcase2 . .'
        '. . . et3'
        '. . backpack1 .'
        'et4 . . .'
        '. backpack3 . .'
        '. . . et5'
        '. . suitcase3 .'
        'et6 . . .'
        '. suitcase4 . .'
        '. . . et7'
        '. . backpack4 .'
        '. . . .'
        'et8 . . .'
        '. . . .';
}

.baggage2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40%);
    grid-template-areas: 
        '. et9';
    margin: 20rem 0;
}

.baggage2 > p {
    justify-self: end;
    font-family: 'Pacifico', Courier, monospace;
    grid-area: et9;
    font-size: 280%;
}

#backpack1 {
    background-image: url('../images/backpack_1.png');
    position: sticky;
    height: 150px;
    width: 150px;
    /* Set top to 270px so it will stick onto the image above which has a height of 150px and a top of 120px - 150 + 120 = 270 */
    top: 270px;
    grid-area: backpack1;
    justify-self: end;
}

#backpack2 {
    background-image: url('../images/backpack_2.png');
    position: sticky;
    height: 150px;
    width: 122px;
    top: 120px;
    grid-area: backpack2;
    justify-self: end;
}

#backpack3 {
    background-image: url('../images/backpack_1.png');
    position: sticky;
    height: 150px;
    width: 150px;
    top: 420px;
    grid-area: backpack3;
    justify-self: end;
}

#backpack4 {
    background-image: url('../images/backpack_2.png');
    position: sticky;
    height: 150px;
    width: 122px;
    top: 570px;
    grid-area: backpack4;
    justify-self: start;
}

#suitcase1 {
    background-image: url('../images/suitcase_1.png');
    position: sticky;
    height: 150px;
    width: 141px;
    top: 120px;
    right: 2rem;
    grid-area: suitcase1;
    justify-self: center;
}

#suitcase2 {
    background-image: url('../images/suitcase_2.png');
    position: sticky;
    height: 150px;
    width: 114px;
    top: 270px;
    grid-area: suitcase2;
    justify-self: center;
}

#suitcase3 {
    background-image: url('../images/suitcase_1.png');
    position: sticky;
    height: 150px;
    width: 141px;
    top: 420px;
    grid-area: suitcase3;
    justify-self: center;
}

#suitcase4 {
    background-image: url('../images/suitcase_2.png');
    position: sticky;
    height: 150px;
    width: 114px;
    top: 570px;
    grid-area: suitcase4;
    justify-self: center;
}

#experience-text-1 {
    grid-area: et1;
}

#experience-text-1 > p {
    text-align: center;
}

#experience-text-2 {
    grid-area: et2;
}

#experience-text-2 > p {
    text-align: center;
}

#experience-text-3 {
    grid-area: et3;
}

#experience-text-3 > p {
    text-align: center;
}

#experience-text-4 {
    grid-area: et4;
}

#experience-text-4 > p {
    text-align: center;
}

#experience-text-5 {
    grid-area: et5;
}

#experience-text-5 > p {
    text-align: center;
}

#experience-text-6 {
    grid-area: et6;
}

#experience-text-6 > p {
    text-align: center;
}

#experience-text-7 {
    grid-area: et7;
}

#experience-text-7 > p {
    text-align: center;
}

#experience-text-8 {
    grid-area: et8;
}

#experience-text-8 > p {
    text-align: center;
}

.baggage3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#baggage-end-1 {
    background-color: #828282;
    color: #262626;
    width: 100%;
}

#baggage-end-2 {
    background-color: whitesmoke;
    color: #3a3a3a;
    width: 100%;
}

#baggage-end-3 {
    background-color: #828282;
    color: #262626;
    width: 100%;
    display: grid;
    justify-content: center;
}

#baggage-end-3 a {
    background-color: #828282;
    color: #262626;
    border-bottom: 1px solid #3a3a3a;
    justify-self: center;
}


#first-div-index {
    margin-top: 12em;
}

.main-img {
  width: 100%;
  height: 100%;
  background-color: black;
}

.main-text{
    display: flex;
    text-align: center;
    flex-direction: column;
  
}

#menu {
    list-style-type: none;
    flex-direction: column;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu > li {
    margin-bottom: 1em;
}

/* Meetups Page Stuff */
#meetups-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

#meetup-info {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 80%;
    grid-template-rows: repeat(2, 40%);
}

#meetup-info-2 {
    display: flex;
    justify-content: center;
}

#input-map {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
}

table {
  width: 80%;
  height: 80%;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

#meetups-2 {
    display: flex;
    justify-content: center;
}

#meetup-form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 80%;
}

#input-blocks {
    text-align: center;
}

#form-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
}


 /* Active webpage class indicator idea taken from Love Running project */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Footer Stuff */

footer {
    margin: 0;
    border: 0;
    padding: 1em 0;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    box-shadow: 2px 0 2px #3a3a3a;
}

/* Containers for testing the layout of the Resources page */

#resources-list {
  top: 5rem;
  display: flex;
  flex-direction: column;

}
.container1 {
  margin: 300px 0;
  width: 100%;
  height: 150px;
  display: grid;
  gap: 1rem;
  align-content: center;
  grid-template-columns:
    [bg-start text-start] auto [book-start] auto [book-end] auto [text-end bg-end];
  grid-template-rows: [book-start] auto [bg-start] auto [book-end] auto [text-start] 200px [text-end] auto [bg-end];
  grid-area: section1;
}

.shape1 {
  width: 200px;
  height: 300px;
  border-radius: 1rem;
  background-image: url('../images/NonviolentCommunication.jpg');
  background-color: #ae608e;
  border: 10px solid #82295d;
  z-index: 10;
  grid-area: book;
/* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
}
.shape2 {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #828282;
  z-index: 9;
  grid-area: bg;
}
.shape3 {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #ae608e;
  text-align: center;
  color: whitesmoke;
  z-index: 11;
  grid-area: text;
  overflow: auto;
}

.container2 {
  margin: 300px 0;
  width: 100%;
  height: 150px;
  display: grid;
  gap: 1rem;
  align-content: center;
  grid-template-columns:
    [bg2-start text2-start] auto [book2-start] auto [book2-end] auto [text2-end bg2-end];
  grid-template-rows: [book2-start] auto [bg2-start] auto [book2-end] auto [text2-start] 200px [text2-end] auto [bg2-end];
  grid-area: section2;
}

.shape4 {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #7060ae;
  text-align: center;
  color: whitesmoke;
  z-index: 10;
  grid-area: text2;
  overflow: auto;
/* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
}
.shape5 {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #828282;
  z-index: 9;
  grid-area: bg2;
}
.shape6 {
  width: 185px;
  height: 300px;
  background-image: url('../images/HoldMeTight.jpg');
  background-color: #7060ae;
  border: 10px solid #412982;
  border-radius: 1rem;
  background-repeat: no-repeat;
  color: whitesmoke;
  z-index: 11;
  grid-area: book2;
}

.container3 {
    margin: 300px 0;
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [bg3-start text3-start] auto [book3-start] auto [book3-end] auto [text3-end bg3-end];
    grid-template-rows: [book3-start] auto [bg3-start] auto [book3-end] auto [text3-start] 200px [text3-end] auto [bg3-end];
    grid-area: section1;
  }
  
  .shape7 {
    width: 200px;
    height: 300px;
    border-radius: 1rem;
    background-image: url('../images/NoBadParts.jpg');
    background-color: #ae608e;
    border: 10px solid #82295d;
    z-index: 10;
    grid-area: book3;
  /* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
  }
  .shape8 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #828282;
    z-index: 9;
    grid-area: bg3;
  }
  .shape9 {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #ae608e;
    text-align: center;
    color: whitesmoke;
    z-index: 11;
    grid-area: text3;
    overflow: auto;
  }

  .container4 {
    margin: 300px 0;
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [bg4-start text4-start] auto [book4-start] auto [book4-end] auto [text4-end bg4-end];
    grid-template-rows: [book4-start] auto [bg4-start] auto [book4-end] auto [text4-start] 200px [text4-end] auto [bg4-end];
    grid-area: section2;
  }
  
  .shape10 {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #7060ae;
    text-align: center;
    color: whitesmoke;
    z-index: 10;
    grid-area: text4;
    overflow: auto;
  /* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
  }
  .shape11 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #828282;
    z-index: 9;
    grid-area: bg4;
  }
  .shape12 {
    width: 187px;
    height: 300px;
    background-image: url('../images/Resilient.jpg');
    background-color: #7060ae;
    border: 10px solid #412982;
    border-radius: 1rem;
    background-repeat: no-repeat;
    color: whitesmoke;
    z-index: 11;
    grid-area: book4;
  }

  .container5 {
    margin: 300px 0;
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [bg5-start text5-start] auto [book5-start] auto [book5-end] auto [text5-end bg5-end];
    grid-template-rows: [book5-start] auto [bg5-start] auto [book5-end] auto [text5-start] 200px [text5-end] auto [bg5-end];
    grid-area: section1;
  }
  
  .shape13 {
    width: 196px;
    height: 300px;
    border-radius: 1rem;
    background-image: url('../images/WhatMyBonesKnow.jpg');
    background-color: #ae608e;
    border: 10px solid #82295d;
    z-index: 10;
    grid-area: book5;
  /* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
  }
  .shape14 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #828282;
    z-index: 9;
    grid-area: bg5;
  }
  .shape15 {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #ae608e;
    text-align: center;
    color: whitesmoke;
    z-index: 11;
    grid-area: text5;
    overflow: auto;
  }

  .container6 {
    margin: 300px 0;
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [bg6-start text6-start] auto [book6-start] auto [book6-end] auto [text6-end bg6-end];
    grid-template-rows: [book6-start] auto [bg6-start] auto [book6-end] auto [text6-start] 200px [text6-end] auto [bg6-end];
    grid-area: section2;
  }
  
  .shape16 {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #7060ae;
    text-align: center;
    color: whitesmoke;
    z-index: 10;
    grid-area: text6;
    overflow: auto;
  /* Adjusted the widths to % to test out how they react to grid columns and now experimenting with the grid-column feature to push the layout */
  }
  .shape17 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #828282;
    z-index: 9;
    grid-area: bg6;
  }
  .shape18 {
    width: 300px;
    height: 300px;
    background-image: url('../images/BeingWell.jpg');
    background-color: #7060ae;
    border: 10px solid #412982;
    border-radius: 1rem;
    background-repeat: no-repeat;
    color: whitesmoke;
    z-index: 11;
    grid-area: book6;
  }
/* Media Queries */
/* Nav Menu media query for tablets and larger */
@media screen and (min-width: 768px) {
    /* Header */

    header {
        display: flex;
        justify-content: space-evenly;
    }

    #title {
        font-size: 200%;
        padding: 1em;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        justify-content: flex-end;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #title {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        width: fit-content;
    }

    header > a {
        padding-left: none;
    }

    /* Body Styles for tablet and up media query */

    #index {
        margin: 16rem 0 0 0;
    }

    /* Grid stylings for tablet and larger */ 

    .main-container {
        grid-template-columns: repeat(2, 28%);
        grid-template-areas: 
            'main1 .'
            'main2 .'
            'main3 .'
            'main4 .'
            'main5 main6'
            'main8 main7'
            'main9 main10'
            '. main11';
    }

    #main1 {
        grid-area: main1;
    }

    #main2 {
        grid-area: main2;
    }

    #main3 {
        grid-area: main3;
    }

    #main4 {
        grid-area: main4;
    }

    #main5 {
        grid-area: main5;
    }

    #main6 {
        grid-area: main6;
    }

    #main7 {
        grid-area: main7;
    }

    #main8 {
        grid-area: main8;
    }

    #main9 {
        grid-area: main9;
    }

    #main10 {
        grid-area: main10;
    }

    #main11 {
        grid-area: main11;
    }
    

    .container1 {
      margin-top: 180px;
      width: 100%;
      height: 150px;
      display: grid;
      gap: 1rem;
      align-content: center;
      grid-template-columns:
        [bg-start] auto [book-start] auto [book-end] auto [text-start] auto [text-end] auto [bg-end];
      grid-template-rows: [book-start] auto [bg-start] 0.5em [text-start] auto [text-end book-end] auto [bg-end];
      grid-area: section1;
    }

    .container2 {
      margin-top: 660px;
      width: 100%;
      height: 150px;
      display: grid;
      gap: 1rem;
      align-content: center;
      grid-template-columns:
            [bg2-start] auto [text2-start] auto [text2-end] auto [book2-start] auto [book2-end] auto [bg2-end];
          grid-template-rows: [book2-start] auto [bg2-start] 0.5em [text2-start] auto [text2-end book2-end] auto [bg2-end];
          grid-area: section2;
        }

    .container3 {
        margin-top: 180px;
        width: 100%;
        height: 150px;
        display: grid;
        gap: 1rem;
        align-content: center;            
        grid-template-columns:
              [bg3-start] auto [book3-start] auto [book3-end] auto [text3-start] auto [text3-end] auto [bg3-end];
            grid-template-rows: [book3-start] auto [bg3-start] 0.5em [text3-start] auto [text3-end book3-end] auto [bg3-end];
        grid-area: section3;
        }
    
        container4 {
            margin-top: 660px;
            width: 100%;
            height: 150px;
            display: grid;
            gap: 1rem;
            align-content: center;
            grid-template-columns:
                  [bg4-start] auto [text4-start] auto [text4-end] auto [book4-start] auto [book4-end] auto [bg4-end];
                grid-template-rows: [book4-start] auto [bg4-start] 0.5em [text4-start] auto [text4-end book4-end] auto [bg4-end];
                grid-area: section4;
              }

              .container5 {
                margin-top: 180px;
                width: 100%;
                height: 150px;
                display: grid;
                gap: 1rem;
                align-content: center;            
                grid-template-columns:
                      [bg5-start] auto [book5-start] auto [book5-end] auto [text5-start] auto [text5-end] auto [bg5-end];
                    grid-template-rows: [book5-start] auto [bg5-start] 0.5em [text5-start] auto [text5-end book5-end] auto [bg5-end];
                grid-area: section5;
                }
            
                container6 {
                    margin-top: 660px;
                    width: 100%;
                    height: 150px;
                    display: grid;
                    gap: 1rem;
                    align-content: center;
                    grid-template-columns:
                          [bg6-start] auto [text6-start] auto [text6-end] auto [book6-start] auto [book6-end] auto [bg6-end];
                        grid-template-rows: [book6-start] auto [bg6-start] 0.5em [text6-start] auto [text6-end book6-end] auto [bg6-end];
                        grid-area: section6;
                      }
  /* Meetups Page for Tablets and Desktop */

  #meetup-info {
    margin-top: 12em;
    display: grid;
    grid-template-columns: repeat(2, 40%);
  }

  #meetup-form {
    grid-template-columns: repeat(2, 40%);
    align-items: start;
  }

  #input-blocks {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #input-map {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  /* Experience Page for tablet and desktop */
  #backpack1 {
    top: 340px;
  }

  #backpack2 {
    top: 190px;
  }

  #backpack3 {
    top: 490px;
  }

#backpack4 {
    top: 640px;

}

#suitcase1 {
    top: 190px;
}

#suitcase2 {
    top: 340px;
}

#suitcase3 {
    top: 490px;
}

#suitcase4 {
    top: 640px;
}

  .baggage2 > p {
    align-self: flex-end;
  }
}

/* Media query for desktop */
@media screen and (min-width: 992px) {
    .main-container {
        grid-template-columns: repeat(3, 28%);
        grid-template-areas: 
            '. main1 .'
            '. main2 .'
            '. main3 .'
            '. main4 .'
            '. main5 .'
            'main8 . main6'
            'main9 . main7'
            '. main10 .'
            '. main11 .';
    }

    #main1 {
        grid-area: main1;
    }

    #main2 {
        grid-area: main2;
    }

    #main3 {
        grid-area: main3;
    }

    #main4 {
        grid-area: main4;
    }

    #main5 {
        grid-area: main5;
    }

    #main6 {
        grid-area: main6;
    }

    #main7 {
        grid-area: main7;
    }

    #main8 {
        grid-area: main8;
    }

    #main9 {
        grid-area: main9;
    }

    #main10 {
        grid-area: main10;
    }

    #main11 {
        grid-area: main11;
    }

  .container1 {
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [book-start] 100px [bg-start] auto [book-end] auto [text-start] auto [bg-end] auto [text-end];
    grid-template-rows: [book-start] auto [text-start] auto [bg-start] auto [text-end] auto [book-end] auto [bg-end];
    grid-area: section1;
  }
  
  .container2 {
    margin-top: 1em;
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [text2-start] 100px [bg2-start] auto [text2-end] auto [book2-start] auto [bg2-end] auto [book2-end];
    grid-template-rows: [book2-start] auto [text2-start] auto [bg2-start] auto [text2-end] auto [book2-end] auto [bg2-end];
    grid-area: section2;
  }

  .container3 {
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [book3-start] 100px [bg3-start] auto [book3-end] auto [text3-start] auto [bg3-end] auto [text3-end];
    grid-template-rows: [book3-start] auto [text3-start] auto [bg3-start] auto [text3-end] auto [book3-end] auto [bg3-end];
    grid-area: section3;
  }
  
  .container4 {
    margin-top: 1em;
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [text4-start] 100px [bg4-start] auto [text4-end] auto [book4-start] auto [bg4-end] auto [book4-end];
    grid-template-rows: [book4-start] auto [text4-start] auto [bg4-start] auto [text4-end] auto [book4-end] auto [bg4-end];
    grid-area: section4;
  }

  .container5 {
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [book5-start] 100px [bg5-start] auto [book5-end] auto [text5-start] auto [bg5-end] auto [text5-end];
    grid-template-rows: [book5-start] auto [text5-start] auto [bg5-start] auto [text5-end] auto [book5-end] auto [bg5-end];
    grid-area: section5;
  }
  
  .container6 {
    margin-top: 1em;
    width: 100%;
    height: 150px;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns:
      [text6-start] 100px [bg6-start] auto [text6-end] auto [book6-start] auto [bg6-end] auto [book6-end];
    grid-template-rows: [book6-start] auto [text6-start] auto [bg6-start] auto [text6-end] auto [book6-end] auto [bg6-end];
    grid-area: section6;
  }

  nav {
    box-shadow: none;
  }

  #menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-shadow: none;
  }
}