/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Shizuru&display=swap');


* {
   padding: 0;
   margin: 0;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Acme', Courier, monospace;
    color: #3a3a3a;
}


/* Header Stuff */

header {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    /* Have dropdown menu appear in line with page title */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* Added in nav-toggle css from the Love Running Project */

nav {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    justify-content: center;
    background-color: whitesmoke;
}

/* Page Content Stuff */

main {
    flex: 1 0 auto;
    margin-top: 47px;
}

ul {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }
 
  a {
    width: 5rem;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: #3a3a3a;
    background-color: whitesmoke;
  }
 
 
  nav {
    position: absolute;
    left: 0;
    padding: 0 1rem;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    /* Top property makes sure dropdown menu always appears below page title */
    top: 100%;
  }
 

  h1 {
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 1em;
  }
 
 #menu {
    list-style-type: none;
    flex-direction: column;
    letter-spacing: 2px;
    text-transform: uppercase;
 }

 #menu > li {
    margin-bottom: 1em;
 }

 /* Active webpage class indicator idea taken from Love Running project */
 .active {
    border-bottom: 1px solid #3a3a3a;
 }

/* Footer Stuff */

footer {
    background-color: whitesmoke;
    width: 100%;
}

/* Media Queries */
/* Nav Menu media query for tablets and larger */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: inline;
        position: relative;
        left: 0;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #title {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }